  *{    border: 1px rgb(231, 173, 173) solid;} 

.MH{
    color: white;
    background-color: rgb(3, 36, 73);
    text-align: center;
    font-family: cursive;
    font-size: 35px;
    
    
}


#mlist{
    display: flex;
    border: 1px rgb(20, 18, 18) solid;
    flex-direction: row;
    align-items: center;
    
}


.rlist{
    display: flex;
    align-items: center;
}

/* .rlist li{
    display:inline-block
    font-family: sans-serif;
    list-style-type: none;
    
   

    
} */


a{
   /*  background-color: #770f08fa; */
    color: rgb(255, 255, 255);
    padding: 14px 25px;
    text-align: left;
    text-decoration: none;
    margin: 15px;
    border-radius: 15px;
}
  